<!-- project item -->
<table class="project-list">
	<tr>
		{% for post in site.posts %}
			<td class="project-item">
				<div class="project-overlay">
					<a href="{{ post.url }}">
						<img class="project-img-top" src="{{ site.url }}/images/{{ post.directory }}/thumb-mono.jpg" alt>
						<img class="project-img-bottom" src="{{ site.url }}/images/{{ post.directory }}/thumb.jpg" alt>
					</a>
				</div>

				<!-- <div class="project-name">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</div>
				<div class="project-type">
					<a href="{{ post.url }}">{{ post.type[0] }}</a>
				</div> -->

			</td>
		{% endfor %}
	</tr>	
</table>
<!-- end project item -->