<!-- project item -->
<div class="project-list">
	{% for post in site.posts %}
		<div class="project-item col-md-4 col-sm-6">
			<!-- <img class="project-img" src="{{ site.url }}/images/{{ post.directory }}/thumb-mono.jpg" alt> -->
			<img class="project-img" src="http://placehold.it/800x800" alt>
			<div class="project-overlay">
				<a class="expand" href="{{ post.url }}">+</a>
				<!-- <a class="expand" href="{{ post.url }}">{{ post.title }}</a> -->
			</div>
		</div>
	{% endfor %}
</div>
<!-- end project item -->

