<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} | Jun Peng Photography</title>
		<link rel='icon' type='image/x-icon' href='images/favicon.ico' />
		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
	<body>
		<!-- container -->
		<div class="container">

		<!-- header -->
		{% include header.html %}

		<div class="divider"></div>

			{{ content }}

		<div class="divider"></div>

		<!-- footer -->
		{% include footer.html %}
		<!-- end container -->

		<!-- JQuery Library -->
		<script src="{{ site.url }}/js/jquery-1.11.1.min.js"></script>
		<script src="{{ site.url }}/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ site.url }}/js/script.js"></script>
	</body>
</html>